body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #3f3f3f;
    background-color: #ffffff;
}

main{
    height: 70vh;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}
